<% if logged_in? %>
	<button><a href='/'>Home</button>
	<button><a href='/user'>Profile</button>
	<button><a href='/user/signout'>Sign Out</a></button>

	<form method="post" action="/question">
		<input type=text placeholder="Category" name="question[category]"><br>
		<input type=text placeholder="Question" name="question[question_details]"><br>
		<input type=submit value="Submit">
	</form>
	<p><%= @question.errors.messages if @question %></p>
<% else %>
	<p>Please Login</p>
<% end %>