<% if logged_in? %>
	<form method="post" action="/questions">
    <input type=text placeholder="Title" name="question[title]"><br>
		<input type=text placeholder="Category" name="question[category]"><br>
		<input type=text placeholder="Question" name="question[question_details]"><br>
		<input type=submit value="Submit">
	</form>
	<p><%= @question.errors.messages if @question %></p>
<% else %>
	<p>Please Login</p>
<% end %>