<% if logged_in? %>
	<form method="post" action="/questions">
    <div class="card">
      <div class="form-row">
        <div class="col-10 right-form">
          <input type=text class="form-control" placeholder="Title" name="question[title]">
        </div>
        <div class="col-2 left-form">
          <select class="custom-select" name="question[category]" placeholder="Category">
            <option selected>Category</option>
            <option>Lifestyle</option>
            <option>Education</option>
            <option>Bullshit</option>
          </select>
        </div>
      </div>
      <textarea input type=text placeholder="Ask a Question" name="question[question_details]" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
      <div class="card-footer">
        <button class="btn btn-primary" type=submit style="float: right;">Submit</button>   
      </div>
    </div>
  </form>
  <p><%= @question.errors.messages if @question %></p>
<% else %>
	<p>Please Login</p>
<% end %>

