.answer-vote-row {
  margin: 0;
}

body { 
	padding-top: 70px; 
}	

.dropdown-right {
  left: initial;
  right: 0;
}

.col{
  padding-left: 0;
}

.vote-button{
  padding-left: 1.25rem;
}

.vote-height{
  height: 40px;
}

.card-footer{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

div.card div.right-form {
  padding-right: 0;
}

div.card div.left-form {
  padding-left: 0;
}

.custom-select {
  width: 100%;
}

.question-body {
  margin-left: 0;
  margin-right: 0;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; Cascading Style Sheets
}

.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
}

.apple_pagination .disabled {
  color: #aaaaaa; 
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}

.apple_pagination a {
  text-decoration: none;
  color: black; 
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; 
}