<h2>Login</h2>
<form id="sign-in-form" method=post action=/users/signin>
    <input type=text placeholder="Email" name="email"><br>
    <input type=password placeholder="Password" name="password"></br>
    <input type=submit value="Login">
</form>

<p id="error"></p>