<h2>Sign up for an account!</h2>
<form id="sign-up-form" method="post" action="/users/new">
	<input type=text placeholder="Full Name" name="user[full_name]"><br>
	<input type=text placeholder="Email" name="user[email]"><br>
	<input type=password placeholder="Password" name="user[password]"><br>
	<input type=password placeholder="Password" name="user[password_confirmation]"><br>
	<input type=submit value="Sign up">
</form>
<p id="error"></p>

